[build]
  command = "dotnet publish -c Release -o release"
  publish = "release/wwwroot"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*.wasm"
  [headers.values]
    Content-Type = "application/wasm"
